<h3>All my posts:</h3>
<%= image_tag "GetYourShit.jpg" %><br>

<% if current_user %>
	<%= render 'show_all_posts' %>
<% else %>
	Please log in to see your posts!
<% end %></br>

<%= image_tag "unpossible.jpg" %><br>
