@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

.notice {
	color: green;
}

body {
	text-align: center;
	width: 860px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
}

img {
	height: 350px;
	width: 300px;
}

h2 {
	font-weight: bolder;
}

.head {
	border-bottom: 5px solid black;
}

.top {
	font-family: 'Sigmar One', cursive;
}

.footer {
  padding: 15px 0;
  margin-top: 30px;
  text-align: left;
  border-top: 5px solid black;
}
